<div id="right-col">
    <div id="inner-right">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actor of actores">
                    <td><img src="{{actor.foto}}" style="height:100px"></td>
                    <td>{{actor.nombre+" "+actor.apellido}}</td>
                    <td><button class="btn btn-secondary" (click)="peliculas(actor)">Mostrar peliculas</button></td>
                    <td><button class="btn btn-secondary" (click)="pais(actor.nacionalidad)">País</button></td>
                    <td><button class="btn btn-secondary" (click)="detalles(actor)">Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>